<!--
______                     ___   _       
| ___ \                   / _ \ (_)      
| |_/ /___  _ __  ______ / /_\ \ _  _ __ 
|  __// _ \| '_ \|______||  _  || || '__|
| |  |  __/| | | |       | | | || || |   
\_|   \___||_| |_|       \_| |_/|_||_|   
                                                                                                                                    

______         _                    _   _____                 _  _  _     _   _         _               
|  ___|       | |                  | | /  __ \               | |(_)| |   | | | |       (_)              
| |_  ___   __| |  ___  _ __  __ _ | | | /  \/ _ __  ___   __| | _ | |_  | | | | _ __   _   ___   _ __  
|  _|/ _ \ / _` | / _ \| '__|/ _` || | | |    | '__|/ _ \ / _` || || __| | | | || '_ \ | | / _ \ | '_ \ 
| | |  __/| (_| ||  __/| |  | (_| || | | \__/\| |  |  __/| (_| || || |_  | |_| || | | || || (_) || | | |
\_|  \___| \__,_| \___||_|   \__,_||_|  \____/|_|   \___| \__,_||_| \__|  \___/ |_| |_||_| \___/ |_| |_|
                                                                                                        
                                                                                                        
CREATOR: NICHOLAS JONES
-->

<!DOCTYPE html>
<html>
<head>
	<title>Asset Database</title>
  <meta charset="UTF-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

  <!-- cheaty way of passing array from flask to javascript-->
  <script type="text/javascript">
    let allTable = {{wholeDBArray | tojson}}
  </script>

</head>
<body>

  <div id="loadingContainer">
    <div id="loadingScreen"></div>
    <div id="frontDiv"><img id="loadingIcon" src="static/styles/loading.png"></div>
  </div>

  <div id='wrapper'>


    <div id='containerTop'><!--container for top portion of web app -->

        <div id="heading">
            <img id="DBIcon" src="static/styles/DBlogo.png">
            <h1>Asset Database</h1>
        </div>

        <div id="buttonContainer">

            <a href="#" id="changeTd" class="myButtonNeutral spaceRight editButtons">Edit</a>
            <a href="#" id="addRow" class="myButtonGood spaceRight editButtons">Add</a>
            <a href="#" id="delRow" class="myButtonDanger spaceRight editButtons">Delete</a>
            <div id="mainSearch" class="spaceRight"><input type="text" name="mainsearch" id="searchbox" placeholder="Search"></div>

            <form id="sudoFormDropDown">
              <div id="dropDownlist">

                  <label for="cars">Filter by Branch:</label>
                  <select id="branches">
                      
                      <option value=" "></option>
                      {%for item in droplist%}
                        <option value="{{item}}" id="formItem">{{item}}</option>
                      {%endfor%}

                  </select>

              </div>
            </form>

        </div>
        <br>       

    </div>

    <div id='containerBottom'>

      <form id="sudoForm">

        <table id="mainTable">

        <thead>
          <tr id="mainColumnHeaders">
            <!--Dynamically generate column names -->
            {%for col in columns%}

              <th>{{col}}{{text}}</th>

            {%endfor%}
          </tr>
        </thead>

        <tbody>
            <!--generate table rows based upon query results -->
          {%for row in query%}

              <tr id="{{row[0]}}">
                  <!--combine column and row arrays. Identification to see what values are changed and what to query in DB-->
                  {%for item,col in zip(row,columns)%}

                    <td id='{{col}}' class='tableItem'><input class="tdItem tdInput" value="{{item}}" readonly></td>

                  {%endfor%}

              </tr>

          {%endfor%}

        </tbody>

        </table>

      </form>
    </div>

  </div>

</body>

<script src="{{url_for('static', filename='javascript/js.js')}}"></script>

</html>