/************************GLOBAL*/
.spaceRight{
	margin-right:10px;
}
.editButtons:hover{
	opacity:  100%;
	transform: scale(1.05);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

*{
	margin:0;
	padding:0;
}
.highlight{/*when row is clicked, highlights row*/
	background-color: #ace5fa !important;
}
.myButtonNeutral {
	opacity:  50%;
	box-shadow:inset 0px -3px 7px 0px #0091ff;
	background:linear-gradient(to bottom, lightblue 5%, #0091ff 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButtonGood{
	opacity:  50%;
	box-shadow:inset 0px -3px 7px 0px green;
	background:linear-gradient(to bottom, lightgreen 5%, green 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;	
}
.myButtonDanger{
	opacity:  50%;
	box-shadow:inset 0px -3px 7px 0px red;
	background:linear-gradient(to bottom, pink 5%, red 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
/************************LOADING SCREEN*/

#loadingScreen{/*Put loading screen on top */
	display: grid;
	justify-content: center;
	align-content: center;
	margin:0;
	padding: 0;
	position: fixed;
	background-color: grey;
	opacity: .5;
	z-index: 2;
	height: 100%;
	width: 100%;
	top:0;
}
	#frontDiv {
		display: grid;
		justify-content: center;
		align-content: center;
		top:0;
		position: fixed;
		height: 100%;width: 100%;
		z-index: 999;
	}
		#frontDiv #loadingIcon{
			opacity: .8;
			width:100px;height:100px;
			animation: rotation 4s infinite linear;
		}
/************************BODY*/

body{
	z-index: 1;
	font-family: 'Questrial', sans-serif;
	color:#4f4f4f;
	background-color:#eee;
}

#wrapper{
	margin:25px;
	display:grid;
	grid-template-rows: 150px minmax(1000px,50vh);
	grid-template-areas:
	"top"
	"bottom";
}
	#containerTop{ /*grid area that houses headings and buttons*/
		grid-area: "top";
		color:black;
	}
		#heading{
			color:black;
			position: relative;
			display: grid;
			justify-content: center;
			align-content: center;
			height:auto;
			text-align: center;
			padding:20px;
			letter-spacing: 2px;
		}
		#DBIcon{
			position: absolute;
			left: 0; 
	  		right: 0; 
	  		margin-left: auto; 
	  		margin-right: auto; 
	  		width: 75px;height:auto;
			z-index: -1;
			-webkit-filter: drop-shadow(1px 1px 0 black)
            drop-shadow(-1px -1px 0 black);
  			filter: drop-shadow(1px 1px 0 black) 
          	drop-shadow(-1px -1px 0 black);
          	opacity: 40%;
			filter: invert(48%) sepia(100%) saturate(3207%) hue-rotate(-50deg) brightness(70%) contrast(200%);
		}
		#buttonContainer{
			position: relative;
			height:auto;width:auto;
		}
			#buttonContainer a{
				display: grid;
				justify-content: center;
				align-content: center;
				width:15px;
			}
			#changeTd{
				float:left;
			}
			#addRow{
				float:left;
			}
			#delRow{
				float:left;
			}
		#mainSearch{
			float:left;
			padding-left:5px;padding-right:5px;
			background-color:none;
			border-radius:3px;
			border:1px solid #0b0e07;
			display:inline-block;
			color:#ffffff;
			height:35px;
			text-decoration:none;
		}
		#mainsearch .searchbox{
			width:100%;
			height:100%;
		}
		#dropDownlist{
			float:right;
		}

	#containerBottom{/*houses table elements */
		grid-area:"bottom";
		box-shadow: -5px -5px 10px #b0b0b0;
		height:100%;
		overflow: scroll;
	}
		#mainTable{
			table-layout:fixed;
			border-collapse: collapse;/*collapses borders, conjoins them*/
			width:100%;
		}
		td{
			border: 1.5px solid #dedede;
			height: 50px;
		}
		tr:nth-child(even){
				background: white;
		}
		tr:nth-child(odd){
				background: #eee;
		}
		th{
			height: 50px;
			width:100px;
			color: white;
			box-shadow:inset 0px -3px 7px 0px #29bbff;
			background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
			background-color:#2dabf9;
			border:1px solid #0b0e07;
		}
		.red{
			background-color: red;
			color:white;
		}
		input{
			border:none;
			background: transparent;
			display: block;width:100%;height:100%;
		}
		.changed{/*when table item is changed (posted), this is a confirmation*/
			background-color:#b5ffcf;
		}